{% extends 'layout.html.twig' %}

{% block body %}

{% include 'alert.html.twig' %}

<div class="wrapper">
    <div class="notebook">
        <div class="content">

            <div class="header">
                <div class="arrow">
                    <a href="{{ path('app_home', {'weekCode': week.previousWeek.code}) }}">&lt;</a>
                </div>
                <div class="title">
                    <h1>Week {{ week.code }}</h1>
                    {#<h3 class="hide-mobile">{{ week.startDay|date('D F jS, Y') }} - {{ week.endDay|date('D F jS, Y') }}</h3>#}
                    <h3 class="hide-mobile">{{ week.startDay|date('F jS, Y') }} - {{ week.endDay|date('F jS, Y') }}</h3>
                    <h3 class="mobile-only-inline">{{ week.startDay|date('M jS') }} - {{ week.endDay|date('M jS') }}</h3>
                </div>
                <div class="arrow">
                    <a href="{{ path('app_home', {'weekCode': week.nextWeek.code}) }}">&gt;</a>
                </div>
            </div>

            <table class="task-list">
                <tbody>
                {% for task in tasks %}
                    <tr class="task">
                        <td class="block">
                            {% if task.showPulledFlag(week) %}
                                {# if the task was opened on a week previous than the week we are querying, then mark it with a dash #}
                                &dash;
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td class="block">
                            {% if task.status == constant('App\\Entity\\Task::STATUS_CLOSED') %}
                                &times;
                            {% else %}
                                {% if task.showKickedFlag(week) %}
                                    {# if this task was kicked, mark it with > #}
                                    &gt;
                                {% else %}
                                    &bull;
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="tag">{{ task.notebook.name }}</td>
                        <td class="concept">{{ task.concept }}</td>
                        <td class="block option">&odot;</td>
                        <td class="block option">&odash;</td>
                        <td class="block option">&otimes;</td>
                    </tr>
                {% endfor %}
                <tr class="task">
                    <td class="block">&nbsp;</td>
                    <td class="block">&nbsp;</td>
                    <td class="tag">&nbsp;</td>
                    <td class="concept" colspan="4">
                        <a href="#" class="btn-new-task" onclick="loadModal('{{ path('app_task_new') }}');">Write a new task..</a>
                        {#<input class="notebook-input" type="text" placeholder="Write new task.." autofocus>#}
                    </td>
                </tr>
                </tbody>
            </table>

            {#
            <table class="task-list">
                <tbody>
                <tr class="task">
                    <td class="block">·</td>
                    <td class="block">!</td>
                    <td class="tag">Personal</td>
                    <td class="concept">Clean up the garage</td>
                    <td class="block option">X</td>
                    <td class="block option">Y</td>
                    <td class="block option">Z</td>
                </tr>
                <tr class="task">
                    <td class="block">-</td>
                    <td class="block">·</td>
                    <td class="tag">Work</td>
                    <td class="concept">Program application ABC</td>
                    <td class="block option">X</td>
                    <td class="block option">Y</td>
                    <td class="block option">Z</td>
                </tr>
                <tr class="task">
                    <td class="block">&dash;</td>
                    <td class="block">&gt;</td>
                    <td class="tag">Work</td>
                    <td class="concept">Implement integration XYZ</td>
                    <td class="block option">&odot;</td>
                    <td class="block option">&odash;</td>
                    <td class="block option">&otimes;</td>
                </tr>
                <tr class="task">
                    <td class="block">&times;</td>
                    <td class="block">&rightarrow;</td>
                    <td class="tag">Work</td>
                    <td class="concept">Super super super long sentence. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum felis vel tellus vehicula, at finibus urna fermentum. Duis sed lacus posuere magna tempus accumsan.</td>
                    <td class="block option">&odash;</td>
                    <td class="block option">&check;</td>
                    <td class="block option">&otimes;</td>
                </tr>
                <tr class="task">
                    <td class="block">&bull;</td>
                    <td class="block">&bull;</td>
                    <td class="tag">Super long tag name! Even longer and longer!!</td>
                    <td class="concept striked">Keep on working, finish the current sprint.</td>
                    <td class="block option">x</td>
                    <td class="block option">&times;</td>
                    <td class="block option">&otimes;</td>
                </tr>
                <tr class="task">
                    <td class="block">&nbsp;</td>
                    <td class="block">&nbsp;</td>
                    <td class="tag">&blacktriangledown;</td>
                    <td class="concept" colspan="4">
                        <input class="notebook-input" type="text" placeholder="Write new task.." autofocus>
                    </td>
                </tr>
                </tbody>
            </table>
            #}
        </div> <!-- ./ div.content -->

        <div class="sidebar">
            <div class="sidebar-content">
                <h2>My Notebooks</h2>
                {% if notebooks|length != 0 %}
                    <ul>
                        {% for notebook in notebooks %}
                            <li>{{ notebook.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="#" class="btn-text-light" onclick="loadModal('{{ path('app_notebook_new') }}');">&plus; New Notebook</a>
                <h2>Shared Notebooks</h2>
                <p><em>Pending.</em></p>
            </div>
        </div> <!-- ./ div.sidebar -->

    </div> <!-- ./ div.notebook -->

    <footer>
        <p class="copy">Built with <small>&hearts;</small> by <a href="https://www.angle.mx" target="_blank">Angle</a>.</p>
        <p class="links">
            <a href="#">Terms of Use</a> |
            <a href="#">Privacy Policy</a>
        </p>
    </footer>
</div> <!-- ./ div.wrapper -->



<div class="modal-overlay">
    <div class="modal-wrapper">
        <div class="modal-content" id="modal">
            {# modal content goes in here #}

            <h1>LOADING...</h1>

            {#
            <div class="top-buttons">
                <a href="#">&times; close</a>
            </div>
            <div class="title">
                <h3>Notebook name</h3>
                <h2>Task title: do this and that</h2>
            </div>
            <div class="details">
                <p>
                    lorem ipsum, dolor sunt dolors
                </p>
            </div>
            <div class="metadata">
                <p>
                    created on week 2018-12 by Edmundo Fuentes
                </p>
            </div>

            <div class="action-buttons">
                <a href="#">&odot; re-open</a>
                <a href="#">&otimes; complete</a>
                <a href="#">&odash; cancel</a>
            </div>
            #}

        </div>
    </div>
</div>
{% endblock %}