{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h1>New Notebook</h1>
</div>

<div class="form">
    {{ form_start(form) }}
    {{ form_widget(form.oldPassword) }}
    {{ form_widget(form.newPassword) }}
    {{ form_widget(form.checkPassword) }}
    <div class="action-buttons">
        <button type="submit" class="btn-outline">&check; save</button>
    </div>
    {{ form_end(form) }}
</div>