{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h1>New Task</h1>
</div>

<div class="form">
    {{ form_start(form) }}
    <div class="form-header">
        <div class="form-notebook">
            <label for="notebook">Notebook: </label>
            {{ form_widget(form.notebook) }}
        </div>
        <div class="form-week">
        Week:
            {{ form_widget(form.openYearNumber) }}
            {{ form_widget(form.openWeekNumber) }}
        </div>
    </div>
    {{ form_widget(form.concept) }}

    <div class="action-buttons">
        <button type="submit" class="btn-outline">&check; save</button>
    </div>

    {{ form_end(form) }}
</div>