{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>
<div class="title">
    <h3>{{ task.notebook.name }}</h3>
    <h2>{{ task.concept }}</h2>
</div>
<div class="details">
    {% if task.details %}
        {{ task.details|markdown }}
    {% else %}
        <p><em>Add details.. (pending)</em></p>
    {% endif %}
</div>

{#
<div class="log">
    <ul class="dashed">
        <li>created on 2019-01-23 15:43 by Edmundo Fuentes</li>
        <li>closed on 2019-01-23 17:51 by Edmundo Fuentes</li>
    </ul>
</div>
#}


<div class="focus-date">
    <h3>Focus Date:</h3>
    {% if not task.focusDate %}
        <p><em>Not set</em></p>
    {% else %}
        <p>{{ task.focusDate|date('M jS') }}</p>
        <form method="post" action="{{ path('app_task_focus_unset', {'taskCode': task.code}) }}">
            <button type="submit" class="btn-outline btn-as-text-small">&times; unset</button>
        </form>
    {% endif %}

    <form method="post" action="{{ path('app_task_focus_set', {'taskCode': task.code}) }}">
        <button type="submit" class="btn-outline btn-as-text-small">&check; set for today</button>
    </form>
</div>


<div class="task-log">
    <h3>Log</h3>
    <p><em>Pending log..</em></p>
</div>

<div class="action-buttons">
    <form method="post" action="{{ path('app_task_reopen', {'taskCode': task.code}) }}">
        <button type="submit" class="btn-outline">&odot; re-open</button>
    </form>
    <form method="post" action="{{ path('app_task_close', {'taskCode': task.code}) }}">
        <button type="submit" class="btn-outline">&otimes; complete (close)</button>
    </form>
    <form method="post" action="{{ path('app_task_cancel', {'taskCode': task.code}) }}">
        <button type="submit" class="btn-outline">&odash; cancel</button>
    </form>
    <form method="post" action="{{ path('app_task_delete', {'taskCode': task.code}) }}"
    onsubmit="return confirm('Are you sure you want to PERMANENTLY delete the task?');">
        <button type="submit" class="btn-outline">! delete</button>
    </form>
</div>