{# this view opens inside a modal #}

<div class="top-buttons">
    <a href="#" onclick="closeModal();">&times; close</a>
</div>

<div class="title">
    <h3>Notebook:</h3>
    <h1>{{ notebook.name }}</h1>
</div>

<div class="share">
    <h3>Access Control</h3>
    <ul class="dashed">
        <li>{{ notebook.user.fullName }} &lt;{{ notebook.user.email }}&gt; <small>OWNER</small></li>
        {% for map in notebook.shareMaps %}
            {% if map.user is not null %}
                <li>
                    {{ map.user.fullName }} &lt;{{ map.user.email }}&gt;

                    {% if notebook.user.userId == app.user.userId %}
                        <small><form method="post" action="{{ path('app_notebook_share_remove', {'shareMapCode': map.code}) }}">
                                <button type="submit" class="btn-text-as-text-small">REMOVE</button>
                            </form></small>
                    {% endif %}
                </li>
            {% else %}
                <li>&lt;{{ map.inviteEmail }}&gt; <small>PENDING</small>

                    {% if notebook.user.userId == app.user.userId %}
                        <small>
                            <form method="post" action="{{ path('app_notebook_share_remove', {'shareMapCode': map.code}) }}">
                                <button type="submit" class="btn-as-text-small">REMOVE</button>
                            </form></small>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


<div class="action-buttons">
    <h3>Share to Another User</h3>
    {{ form_start(form) }}
        {{ form_widget(form.inviteEmail) }}
        <div class="spacer"></div>
        <button type="submit" class="btn-outline">share</button>
    {{ form_end(form) }}
</div>